<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435308417933-8p3ck8poeldrj9q5cqpbvqfnbq6n7uah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435308417933-8p3ck8poeldrj9q5cqpbvqfnbq6n7uah</string>
	<key>API_KEY</key>
	<string>AIzaSyCT1AXtuoFAi9LCvJMF9qSlDsYK-lERBwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>435308417933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.astroInfo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>astroinfo-95c4f</string>
	<key>STORAGE_BUCKET</key>
	<string>astroinfo-95c4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435308417933:ios:d689ac05fc5fca2eb623c4</string>
</dict>
</plist>